# Retrieving Data From SQL Server

In [ ]:
%%sql
SELECT [When], [Level1%], [Level2%], [Side], [TH], [Strength], [Contracts], [Profit_Gross], [Profit_Net], [ SPX ], [ NDX ], [VIX], [SPY], [TLT] 
FROM CapUOC_DataAnalysis.dbo.Trades

# Cleaning Data

In [19]:
import pandas as pd
Trade_df['When'] = pd.to_datetime(Trade_df['When'])
market_cols = [' SPX ', ' NDX ', 'VIX', 'SPY', 'TLT']

# Convert Market Data Columns to Floats
for col in market_cols:
    Trade_df[col] = pd.to_numeric(Trade_df[col], errors='coerce')

# Calculating rate of change
for col in market_cols:
    Trade_df[f'{col}_Change'] = Trade_df[col].pct_change()


Trade_df.replace(['#VALUE!', '#DIV/0!'], pd.NA, inplace=True)  # Replace with NA
Trade_df.dropna(inplace=True)  # Drop rows with NA

# Convert 'Gross Profit' to numeric
Trade_df['Profit_Gross'] = pd.to_numeric(Trade_df['Profit_Gross'])

# Convert 'Net Profit' to numeric
Trade_df['Profit_Net'] = pd.to_numeric(Trade_df['Profit_Net'])

Trade_df.dtypes

When            datetime64[ns]
Level1%                 object
Level2%                 object
Side                    object
TH                       int64
Strength                 int64
Contracts                int64
Profit_Gross             int64
Profit_Net             float64
 SPX                   float64
 NDX                   float64
VIX                    float64
SPY                    float64
TLT                    float64
 SPX _Change           float64
 NDX _Change           float64
VIX_Change             float64
SPY_Change             float64
TLT_Change             float64
dtype: object

In [20]:
import pickle

with open('my_dataframe.pkl', 'wb') as file:
    pickle.dump(Trade_df, file)

In [22]:
Trade_df.describe()

,When,TH,Strength,Contracts,Profit_Gross,Profit_Net,SPX,NDX,VIX,SPY,TLT,SPX _Change,NDX _Change,VIX_Change,SPY_Change,TLT_Change
count,8241,8241.000000,8241.000000,8241.000000,8241.000000,8241.000000,8241.000000,8241.000000,8241.000000,8241.000000,8241.000000,8241.000000,8241.00000,8241.000000,8241.000000,8241.000000
mean,2023-04-18 13:46:30.149253888,1.295231,92.845528,1.920398,3.036767,2.396691,4146.907254,13392.900438,20.180193,413.742735,100.582666,-0.000014,-0.00003,0.000167,-0.000013,0.001403
min,2022-05-27 13:56:00,0.000000,5.000000,1.000000,-76.000000,-77.170000,3578.970000,10683.150000,12.000000,356.670000,13.230000,-0.039333,-0.04927,-0.177749,-0.036976,-0.869295
25%,2023-01-11 11:14:00,0.000000,35.000000,1.000000,0.000000,0.000000,3930.080000,12003.720000,16.400000,392.290000,95.500000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,2023-04-13 09:37:00,0.000000,65.000000,1.000000,0.000000,0.000000,4123.580000,13043.410000,19.140000,411.360000,102.060000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,2023-08-18 12:47:00,1.000000,125.000000,3.000000,3.000000,2.020000,4365.100000,14899.480000,24.110000,435.410000,105.840000,0.000000,0.00000,0.000000,0.000000,0.000000
max,2023-12-28 08:41:00,55.000000,466.000000,12.000000,245.000000,243.550000,4791.560000,16948.070000,33.970000,477.300000,120.640000,0.125703,0.11813,0.138695,0.129185,6.656841
std,NaN,3.858428,72.839222,1.367878,7.692638,7.452895,276.275017,1645.911692,5.271306,27.510331,9.029492,0.002692,0.00331,0.012549,0.002743,0.094085